{% extends "base.html" %}
{% block main %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ articleJson.title }}</h2>
        <p class="blog-post-meta">{{ articleJson.createdAt | datetime }} by <a href="#">{{ articleJson.author }}</a>
            <br />
            <fonts>Tags:
            {% for x in articleJson.tagList %}
              {{ x }}
            {% endfor %}
        </fonts>
        </p>

        <p>{{ articleJson.description }}</p>
        <hr>
        <div>
            {{ articleJson.body | safe }}
        </div>
    </div><!-- /.blog-post -->
{% endblock %}