{% block extra_head_scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
{% endblock %}
{% block main %}
    <div class="form-row">
        <div class="col-2">
            <label for="siteSelector">Please select a site:</label>
        </div>
        <div class="col-10">
            <select class="form-control" id="siteSelector">
            </select>
        </div>
    </div>
	<div id="chart" class="col-16" style="height: 550px;"></div>

	<script>
		var chart = undefined;
        var sites = [];
	    var fullData = {};
	    var notTrigger = false;

		function viewSite(name)
        {
            while(chart.series.length > 0)
                chart.series[0].remove(true);

            let maxTime = 0;
            let categoryData = {};
            let sumData = {};
            $.each(fullData[name], function (index, dataEntry) {
                let category = dataEntry.category;
                if(!categoryData[category])
                {
                    categoryData[category] = [];
                }
                let entryDateTime = new Date(dataEntry.year + "-" + dataEntry.month).getTime();
                if(!sumData[entryDateTime])
                {
                    sumData[entryDateTime] = dataEntry.count;
                }
                else
                {
                    sumData[entryDateTime] += dataEntry.count;
                }
                if(entryDateTime > maxTime)
                    maxTime = entryDateTime;
                categoryData[category].push([entryDateTime, parseFloat((dataEntry.count).toFixed(2))]);
            });

            let sumDataPoints = [];
            $.each(sumData, function (entryDateTime, count) {
                sumDataPoints.push([parseInt(entryDateTime),count]);
            });
            sumDataPoints.sort(function (a, b) {
                return a[0] - b[0]
            });

            $.each(categoryData, function (category, dataEntry) {
                dataEntry.sort(function (a, b) {
                    return a[0] - b[0]
                });
                let dashedStartingTime = Number.MAX_SAFE_INTEGER;
                if(dataEntry.length >= 2 && maxTime === dataEntry[dataEntry.length - 1][0])
                {
                    dashedStartingTime = dataEntry[dataEntry.length - 2][0]
                }
                chart.addSeries({
                    name: category,
                    data: dataEntry,
                    zoneAxis: 'x',
                    zones: [{
                      value: dashedStartingTime
                    }, {
                      dashStyle: 'dot'
                    }],
                    events: {
                        show: function () {
                            setTimeout(function(){
                                notTrigger = true;
                                $(chart.series).each(function(index, series){
                                    if(series.name === 'Overall Total')
                                        this.setVisible(false, false);
                                });
                                chart.redraw();
                                notTrigger = false;
                            }, 1);
                        }
                    }
                }, false);
            });

            let dashedStartingTime = Number.MAX_SAFE_INTEGER;
            if(sumDataPoints.length >= 2 && maxTime === sumDataPoints[sumDataPoints.length - 1][0])
            {
                dashedStartingTime = sumDataPoints[sumDataPoints.length - 2][0]
            }

            chart.addSeries({
                name: 'Overall Total',
                data: sumDataPoints,
                color: 'black',
                index: -1,
                zoneAxis: 'x',
                zones: [{
                  value: dashedStartingTime
                }, {
                  dashStyle: 'dot'
                }],
                events: {
                    hide: function () {
                        if(notTrigger)
                            return;
                        setTimeout(function(){
                            $(chart.series).each(function(index, series){
                                if(series.name !== 'Overall Total')
                                    this.setVisible(true, true);
                            });
                            chart.redraw();
                        }, 1);
                    },
                    show: function () {
                        setTimeout(function(){
                            $(chart.series).each(function(index, series){
                                if(series.name !== 'Overall Total')
                                    this.setVisible(false, false);
                            });
                            chart.redraw();
                        }, 1);
                    }
                }
            }, false).setVisible(true,true);

            chart.setSubtitle({
                text: name + ' - ' + fullData[name].length + ' Data Entries'
            });

            chart.redraw();
        }

		function addData(data) {
		    fullData = {};
            chart = createChart();
            $.each(data, function (index, val) {
                let site = val.site;
                if(!fullData[site])
                {
                    sites.push(site);
                    fullData[site] = [];
                     var r = $('<option/>').attr({
                         value: site,
                    }).html(site);
                    $("#siteSelector").append(r);
                }
                fullData[val.site].push(val);
            });

            viewSite(sites[0]);
		}

        $.getJSON("{{ url_for('chart.attendance') }}", addData);

		function createChart() {
            chart = Highcharts.chart('chart', {
                chart: {
                    zoomType: 'x'
                },

                title: {
                    text: 'MNHS Attendance Chart'
                },

                subtitle: {
                    text: 'subtitle'
                },

                yAxis: {
                    title: {
                        text: 'Count'
                    }
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false
                        }
                    }
                },

                tooltip: {
                    shared:true,
                    crosshairs:true,
                    valueDecimals: 0,
                    xDateFormat: '%Y-%m',
                },

                xAxis: {
                    type: 'datetime',
                    title: {
                        text: 'Time'
                    },
                },

                legend: {
                    align: 'center',
                    borderWidth: 0
                },

                series: [],

                exporting: {
                    showTable: true,
                    csv:{
                        dateFormat: '%Y-%m',
                        itemDelimiter: ';'
                    },
                },
            });
            return chart;
	    }

	    $("#siteSelector").change(function(){
          viewSite(this.value);
        });
	</script>
{% endblock %}
