{% block extra_head_scripts %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
{% endblock %}

{% block main %}
  <select class="site-select"></select>
  <select class="category-select"></select>
  <div id="chart" class="col-16" style="height: 550px;"></div>
  
  <script>
   var visitData = null;

   var chart = Highcharts.chart('chart', {
       chart: {
           type: 'spline'
       },
       title: {
           text: 'YOY Attendance'
       },
       tooltip: {
           shared:true,
           crosshairs:true
       },
       exporting: {
           showTable: true,
           csv:{
               itemDelimiter: ';'
           },
       }
   });


   function transformVisitData(rawVisitData) {
       newVisitData = {};
       
       $.each(rawVisitData, (_, record) => {
           if (!newVisitData[record.site]) {
               newVisitData[record.site] = {};
           }
           let siteData = newVisitData[record.site];
           
           if (!siteData[record.category]) {
               siteData[record.category] = {};
           }
           let categoryData = siteData[record.category]
           
           if (!categoryData[record.year]) {
               categoryData[record.year] = [];
           }
           let yearData = categoryData[record.year];
           
           yearData.push([record.month, record.count]);
       });
       
       return newVisitData;
   }
   
   function initSiteSelect() {
       let siteSelect = $('.site-select');
       
       $.each(visitData, site => {
           let option = $('<option/>')
               .attr({value: site})
               .html(site)

           siteSelect.append(option)
       });

       siteSelect.change(() => {
           const site = $('.site-select option:selected').val()
           
           initCategorySelect(site);
       });
   }

   function initCategorySelect(site) {
       let categorySelect = $('.category-select');
       
       categorySelect.empty()

       $.each(visitData[site], category => {
           let option = $('<option/>')
               .attr({value: category})
               .html(category);
           
           categorySelect.append(option);
       });

       categorySelect.change(() => {
           const site = $('.site-select option:selected').val();
           const category = $('.category-select option:selected')
               .val();
           
           renderChart(site, category);
       })
   }

   function renderChart(site, category) {
       while(chart.series.length > 0) {
           chart.series[0].remove(true);
       }

       $.each(visitData[site][category], (year, data) => {
           console.log(year)
           chart.addSeries({
               name: year,
               data: data
           });
       })
   }
   
   // Kick everything off -- fetch the data, transform it, and save it
   // to the global visitData object
   $.getJSON("{{ url_for('chart.attendance') }}", rawVisitData => {
       // Get the transformed data.
       visitData = transformVisitData(rawVisitData);       

       initSiteSelect();
   });
   


  </script>
{% endblock %}
