<!doctype html>
<html>
  <head>
    <title>MNHS Business Intelligence & Process Improvement</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='tff.css') }}" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    {% block extra_head %}{% endblock %}
    {% block extra_head_scripts %}{% endblock %}
  </head>

  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col pt-1">
            <a href="{{ url_for('blog.index') }}"><img style="width: 10rem;" src="{{ url_for('static', filename='mnhs_logo_2color.png') }}"></a>
          </div>
          <div class="col-8 text-center">
            <a class="blog-header-logo text-dark" href="{{ url_for('blog.index') }}">Business Intelligence &<br> Process Improvement</a>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              {# <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3" focusable="false" role="img"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line>
              </svg> #}
            </a>
          </div>
        </div>
      </header>

      
      
      {# {% include "components/nav_bar.html" %} #}

      {% include "alert.html" %}

    </div>

    <main role="main" class="container mt-4">
      {% block main %}{% endblock %}
    </main>

    <footer class="blog-footer">
      <p>Minnesota Historical Society Business Intelligence & Process Improvement 2019</p>
      <p>
        <a class="btn btn-outline-primary" href="#">Back to top</a>
      </p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
