{% extends "base.html" %}
{% block extra_head_scripts %}<script src="https://code.highcharts.com/highcharts.js"></script>{% endblock %}
{% block main %}
    <div class="form-row">
        <div class="col-2">
            <label for="siteSelector">Please select a site:</label>
        </div>
        <div class="col-10">
            <select class="form-control" id="siteSelector">
            </select>
        </div>
    </div>
	<div id="chart" class="col-16" style="height: 550px;"></div>

	<script>
		var chart = undefined;
		var sites = [];
		var fullData = {};

		function viewSite(name)
        {
            while(chart.series.length > 0)
                chart.series[0].remove(true);

            let categoryData = {};

            $.each(fullData[name], function (index, dataEntry) {
                let category = dataEntry.category;
                if(!categoryData[category])
                {
                    categoryData[category] = [];
                }
                let entryDate = new Date(dataEntry.year + "-" + dataEntry.month);
                categoryData[category].push([entryDate.getTime(), parseFloat((dataEntry.count).toFixed(2))]);
            });

            $.each(categoryData, function (category, dataEntry) {
                dataEntry.sort(function (a, b) {
                    return a[0] - b[0]
                });
                chart.addSeries({
                    name: category,
                    data: dataEntry
                }, false);
            });

            chart.setSubtitle({
                text: name + ' - ' + fullData[name].length + ' Data Entries'
            });

            chart.redraw();
        }

		function addData(data) {
		    fullData = {};
            chart = createChart();
            $.each(data, function (index, val) {
                let site = val.site;
                if(!fullData[site])
                {
                    sites.push(site);
                    fullData[site] = [];
                     var r = $('<option/>').attr({
                         value: site,
                    }).html(site);
                    $("#siteSelector").append(r);
                }
                fullData[val.site].push(val);
            });

            viewSite(sites[0]);
		}

        $.getJSON("{{ url_for('chart.attendance') }}", addData);

		function createChart() {
            chart = Highcharts.chart('chart', {
                chart: {
                    zoomType: 'x'
                },

                title: {
                    text: 'MNHS Attendance Chart'
                },

                subtitle: {
                    text: 'subtitle'
                },

                yAxis: {
                    title: {
                        text: 'Val'
                    }
                },
                plotOptions: {
                    series: {
                        marker: {
                            enabled: false
                        }
                    }
                },

                tooltip: {
                    shared:true,
                    crosshairs:true,
                    valueDecimals: 2,
                    xDateFormat: '%Y-%m-%d',
                },

                xAxis: {
                    type: 'datetime',
                    title: {
                        text: 'Time'
                    },
                },

                legend: {
                    align: 'center',
                    borderWidth: 0
                },

                series: []
            });
            return chart;
	    }

	    $("#siteSelector").change(function(){
          viewSite(this.value);
        });
	</script>
{% endblock %}