{% extends "base.html" %}
{% block main %}
    <div class="col-md-12 ">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 active-cyan-4 mb-4">
              <input id="searchtxt" class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
            <div class="text-muted my-1" id="searchbtn" style="cursor: pointer">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3" focusable="false" role="img"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line>
              </svg>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    {% if txt %}
        <h3 class="pb-3 mb-4 font-italic border-bottom text-muted">
            Search Results for "{{ txt }}"
        </h3>
    {% endif %}
    <div class="col-md-12">
        {% for article in articles %}
            {% include 'components/article_card.html' %}
        {% endfor %}
    </div>
    <script>
        $('#searchtxt').keypress(function(e) {
            if(e.which == 13) {
                $('#searchbtn').click();
            }
        });
        $('#searchbtn').click(function() {
            let searchtxt = $('#searchtxt').val();
            window.location = "{{ url_for('blog.search') }}" + "?txt=" + searchtxt;
        });
    </script>
{% endblock %}
