<div class="row">
    <button type="button" class="btn btn-info btn-round text-center mx-auto text-white my-1" data-toggle="modal" data-target="#myModal">User Guide</button>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Attendance Dashboard User Guide</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <h4 class="text-warning">
              A detailed explanation on attendance categories can be found <a target="_blank" href="https://docs.google.com/document/d/1z1zADs98XaGECbF1QWoJpUyMhbu-q_fWmQAYuzLqZDk/edit?usp=sharing">here</a>
          </h4>
          <h6>Zooming</h6>
          <p>
              With a mouse pointer, the zooming is performed by dragging out a rectangle in the chart. The user can't pan the zoomed area but has to zoom out then in again on a new area.
              When zooming, a zoom out button appears at the top right of the chart.
          </p>
          <h6>Exporting</h6>
          <p>
              You can dynamically export the current data displayed in the chart to PDF, CSV, PNG and other data formats by clicking on the top right expanding button, and choose your desired format.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>