{% extends "dashboard/base.html" %}
{% block extra_head_scripts %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <link href="{{ url_for('static', filename='highcharts-data-table.css') }}" rel="stylesheet" />
{% endblock %}
{% block main %}
  <div class="row">
    <div class="col-2 my-auto">
      <label for="siteSelector">Please select a site:</label>
    </div>
    <div class="col-10 my-auto">
      <select class="form-control" id="siteSelector">
      </select>
    </div>
  </div>
    <div class="row">
        <p class="col-12">
            A detailed explanation on attendance categories can be found <a target="_blank" href="https://docs.google.com/document/d/1z1zADs98XaGECbF1QWoJpUyMhbu-q_fWmQAYuzLqZDk/edit?usp=sharing">here</a>
        </p>
    </div>
  <div class="p-1">
      <div id="chart" class="col-12" style="height: 550px;"></div>
  </div>

  <script>
   const median = arr => {
       const mid = Math.floor(arr.length / 2),
             nums = [...arr].sort((a, b) => a - b);
       return arr.length % 2 !== 0 ? nums[mid] : (nums[mid - 1] + nums[mid]) / 2;
   };
   var chart = undefined;
   var sites = [];
   var fullData = {};
   var notTrigger = false;

   function viewAll()
   {
       let maxTime = 0;
       let siteData = {};
       let totalData = {};
       let medianData = {};
       $.each(fullData, function (name, dataEntry) {
           if(!siteData[name])
           {
               siteData[name] = [];
           }
           let sumData = {};
           $.each(dataEntry, function(key, val)
           {
               let entryDateTime = new Date(val.date).getTime();
               if(!sumData[entryDateTime])
               {
                   sumData[entryDateTime] = val.count;
               }
               else
               {
                   sumData[entryDateTime] += val.count;
               }
               if(entryDateTime > maxTime)
                   maxTime = entryDateTime;
           });
           $.each(sumData, function(time, count) {
               siteData[name].push([parseInt(time),count]);
               if(!totalData[time])
               {
                   totalData[time] = count;
                   medianData[time] = [];
               }
               else
               {
                   totalData[time] += count;
               }
               medianData[time].push(count);
           });
       });

       let numSites = 0;
       $.each(siteData, function (name, dataEntry) {
           dataEntry.sort(function (a, b) {
               return a[0] - b[0]
           });
           let dashedStartingTime = Number.MAX_SAFE_INTEGER;
           if(dataEntry.length >= 2 && maxTime === dataEntry[dataEntry.length - 1][0])
           {
               dashedStartingTime = dataEntry[dataEntry.length - 2][0]
           }
           chart.addSeries({
               name: name,
               data: dataEntry,
               zoneAxis: 'x',
               zones: [{
                   value: dashedStartingTime
               }, {
                   dashStyle: 'dot'
               }],
               events: {
                   show: function () {
                       setTimeout(function(){
                           notTrigger = true;
                           $(chart.series).each(function(index, series){
                               if(series.name === 'Overall Total')
                                   this.setVisible(false, false);
                           });
                           chart.redraw();
                           notTrigger = false;
                       }, 1);
                   }
               }
           }, false);
           numSites++;
       });

       let totalDataPoints = [];
       $.each(totalData, function (time, count) {
           totalDataPoints.push([parseInt(time),count]);
       });
       totalDataPoints.sort(function (a, b) {
           return a[0] - b[0]
       });

       let medianDataPoints = [];
       $.each(medianData, function (time, count_array) {
           medianDataPoints.push([parseInt(time),median(count_array)]);
       });
       medianDataPoints.sort(function (a, b) {
           return a[0] - b[0]
       });

       let dashedStartingTime = Number.MAX_SAFE_INTEGER;
       if(totalDataPoints.length >= 2 && maxTime === totalDataPoints[totalDataPoints.length - 1][0])
       {
           dashedStartingTime = totalDataPoints[totalDataPoints.length - 2][0]
       }

       let avgDataPoints = JSON.parse(JSON.stringify(totalDataPoints));
       $.each(avgDataPoints, function(index, array){
           array[1] = parseFloat((array[1] / numSites).toFixed(2));
       });

       chart.addSeries({
           name: 'Median',
           data: medianDataPoints,
           lineWidth: 5,
           zoneAxis: 'x',
           zones: [{
               value: dashedStartingTime
           }, {
               dashStyle: 'dot'
           }],
           events: {
               show: function () {
                   setTimeout(function(){
                       notTrigger = true;
                       $(chart.series).each(function(index, series){
                           if(series.name === 'Overall Total')
                               this.setVisible(false, false);
                       });
                       chart.redraw();
                       notTrigger = false;
                   }, 1);
               }
           }
       }, false);

       chart.addSeries({
           name: 'Average',
           data: avgDataPoints,
           lineWidth: 5,
           zoneAxis: 'x',
           zones: [{
               value: dashedStartingTime
           }, {
               dashStyle: 'dot'
           }],
           events: {
               show: function () {
                   setTimeout(function(){
                       notTrigger = true;
                       $(chart.series).each(function(index, series){
                           if(series.name === 'Overall Total')
                               this.setVisible(false, false);
                       });
                       chart.redraw();
                       notTrigger = false;
                   }, 1);
               }
           }
       }, false);

       chart.addSeries({
           name: 'Overall Total',
           data: totalDataPoints,
           color: 'black',
           index: -1,
           zoneAxis: 'x',
           zones: [{
               value: dashedStartingTime
           }, {
               dashStyle: 'dot'
           }],
           events: {
               hide: function () {
                   if(notTrigger)
                       return;
                   setTimeout(function(){
                       $(chart.series).each(function(index, series){
                           if(series.name !== 'Overall Total')
                               this.setVisible(true, true);
                       });
                       chart.redraw();
                   }, 1);
               },
               show: function () {
                   setTimeout(function(){
                       $(chart.series).each(function(index, series){
                           if(series.name !== 'Overall Total')
                               this.setVisible(false, false);
                       });
                       chart.redraw();
                   }, 1);
               }
           }
       }, false).setVisible(true,true);

       chart.setSubtitle({
           text: 'All ' + numSites + ' Sites Data'
       });

       chart.redraw();
   }

   function viewSite(name)
   {
       while(chart.series.length > 0)
           chart.series[0].remove(true);

       if(name === "ALL")
           return viewAll();

       let maxTime = 0;
       let categoryData = {};
       let sumData = {};
       $.each(fullData[name], function (index, dataEntry) {
           let category = dataEntry.category;
           if(!categoryData[category])
           {
               categoryData[category] = [];
           }
           let entryDateTime = new Date(dataEntry.date).getTime();
           if(!sumData[entryDateTime])
           {
               sumData[entryDateTime] = dataEntry.count;
           }
           else
           {
               sumData[entryDateTime] += dataEntry.count;
           }
           if(entryDateTime > maxTime)
               maxTime = entryDateTime;
           categoryData[category].push([entryDateTime, parseFloat((dataEntry.count).toFixed(2))]);
       });

       let sumDataPoints = [];
       $.each(sumData, function (entryDateTime, count) {
           sumDataPoints.push([parseInt(entryDateTime),count]);
       });
       sumDataPoints.sort(function (a, b) {
           return a[0] - b[0]
       });

       $.each(categoryData, function (category, dataEntry) {
           dataEntry.sort(function (a, b) {
               return a[0] - b[0]
           });
           let dashedStartingTime = Number.MAX_SAFE_INTEGER;
           if(dataEntry.length >= 2 && maxTime === dataEntry[dataEntry.length - 1][0])
           {
               dashedStartingTime = dataEntry[dataEntry.length - 2][0]
           }
           chart.addSeries({
               name: category,
               data: dataEntry,
               zoneAxis: 'x',
               zones: [{
                   value: dashedStartingTime
               }, {
                   dashStyle: 'dot'
               }],
               events: {
                   show: function () {
                       setTimeout(function(){
                           notTrigger = true;
                           $(chart.series).each(function(index, series){
                               if(series.name === 'Overall Total')
                                   this.setVisible(false, false);
                           });
                           chart.redraw();
                           notTrigger = false;
                       }, 1);
                   }
               }
           }, false);
       });

       let dashedStartingTime = Number.MAX_SAFE_INTEGER;
       if(sumDataPoints.length >= 2 && maxTime === sumDataPoints[sumDataPoints.length - 1][0])
       {
           dashedStartingTime = sumDataPoints[sumDataPoints.length - 2][0]
       }

       chart.addSeries({
           name: 'Overall Total',
           data: sumDataPoints,
           color: 'black',
           index: -1,
           zoneAxis: 'x',
           zones: [{
               value: dashedStartingTime
           }, {
               dashStyle: 'dot'
           }],
           events: {
               hide: function () {
                   if(notTrigger)
                       return;
                   setTimeout(function(){
                       $(chart.series).each(function(index, series){
                           if(series.name !== 'Overall Total')
                               this.setVisible(true, true);
                       });
                       chart.redraw();
                   }, 1);
               },
               show: function () {
                   setTimeout(function(){
                       $(chart.series).each(function(index, series){
                           if(series.name !== 'Overall Total')
                               this.setVisible(false, false);
                       });
                       chart.redraw();
                   }, 1);
               }
           }
       }, false).setVisible(true,true);

       chart.setSubtitle({
           text: name + ' - ' + fullData[name].length + ' Data Entries'
       });

       chart.redraw();
   }

   function addData(data) {
       fullData = {};
       chart = createChart();

       var r = $('<option/>').attr({
           value: 'ALL',
       }).html("ALL SITES");
       $("#siteSelector").append(r);

       $.each(data, function (index, val) {
           let site = val.site;
           if(!fullData[site])
           {
               sites.push(site);
               fullData[site] = [];
               var r = $('<option/>').attr({
                   value: site,
               }).html(site);
               $("#siteSelector").append(r);
           }
           fullData[val.site].push(val);
       });

       viewSite('ALL');
   }

   $.getJSON("{{ url_for('chart.attendance_daily') }}", addData);

   function createChart() {
       chart = Highcharts.chart('chart', {
           chart: {
               zoomType: 'x',
           },

           title: {
               text: 'MNHS Attendance Chart'
           },

           subtitle: {
               text: 'subtitle'
           },

           yAxis: {
               title: {
                   text: 'Count'
               }
           },
           plotOptions: {
               series: {
                   marker: {
                       enabled: false
                   }
               }
           },

           tooltip: {
               shared:true,
               crosshairs:true,
               valueDecimals: 0,
               xDateFormat: '%d %b %Y',
           },

           xAxis: {
               type: 'datetime',
               title: {
                   text: 'Time'
               },
           },

           legend: {
               align: 'center',
               borderWidth: 0
           },

           series: [],

           exporting: {
               showTable: true,
               csv:{
                   dateFormat: '%d %b %Y',
                   itemDelimiter: ';'
               },
           },
       });
       return chart;
   }

   $("#siteSelector").change(function(){
       viewSite(this.value);
   });
  </script>
{% endblock %}