{% extends "dashboard/base.html" %}

{% block extra_head_scripts %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/boost.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <link href="{{ url_for('static', filename='highcharts-data-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block subtitle %}Hourly Attendance Dashboard (Holiday Mode) <a href="{{ url_for('dashboard.hourly_heat') }}"><i class="material-icons">hot_tub</i></a>{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-2 my-auto">
          <label for="siteSelector">Please select a site:</label>
        </div>
        <div class="col-3 my-auto">
          <select class="form-control" id="siteSelector">
          </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2 my-auto">
          <label for="siteSelector">Please select a time frame:</label>
        </div>
        <div class="my-auto">
            <label for="siteSelector">Holiday:</label>
        </div>
        <div class="col-2 my-auto">
            <div class="form-group">
                <div class='input-group'>
                  <select class="form-control" id="daySelector">
                  </select>
                </div>
            </div>
        </div>
        <div class="my-auto">
            <label for="siteSelector">Calendar Year:</label>
        </div>
        <div class="col-2 my-auto">
            <div class="form-group">
                <div class='input-group'>
                  <select class="form-control" id="yearSelector">
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                  </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-danger mt-3">
        <h6 class="col-12 text-center" id="warning-message"></h6>
    </div>
    <div class="p-1">
        <div id="chart" class="col-12" style="height: 550px;"></div>
    </div>
    <script>
        var chart = undefined;
        var sites = [];
        var rawData = {};
        var fullData = {};
        var notTrigger = false;
        var dataLoading = true;

        function viewSite(name, viewYear, viewHolidayName="")
        {
            if (dataLoading)
                return;

           while(chart.series.length > 0)
               chart.series[0].remove(true);

           let maxTime = 0;
           let categoryData = {};
           let holidayList = [];
           $.each(fullData[name], function (index, dataEntry) {
               let category = dataEntry.category;
               if(!categoryData[category])
               {
                   categoryData[category] = [];
               }
               if(!holidayList.includes(dataEntry.holiday))
               {
                   holidayList.push(dataEntry.holiday);
               }
               let entryDate = new Date(Date.UTC(dataEntry.year, 1, 1, dataEntry.hour));
               let entryDateTime = entryDate.getTime();
               if(entryDateTime > maxTime)
                   maxTime = entryDateTime;
               categoryData[category].push({x: entryDateTime, y: parseFloat((dataEntry.count).toFixed(2)), sampleSize: dataEntry.total, holiday: dataEntry.holiday});
           });

           if(viewHolidayName === "")
           {
               viewHolidayName = holidayList[0];
           }
           $('#daySelector').empty();
           $.each(holidayList, function (index, holiday) {
                $('#daySelector').append('<option value="'+holiday+'">'+holiday+'</option>');
           });
           $("#daySelector").val(viewHolidayName);

           $.each(categoryData, function (category, dataEntry) {
               dataEntry.sort(function (a, b) {
                   return a.x - b.x
               });
               let chartData = dataEntry.filter(ent => {let d = new Date(); d.setTime(ent.x); return d.getFullYear() == viewYear && ent.holiday == viewHolidayName});
               if(category.includes("Sum"))
               {
                    chart.addSeries({
                        type: "spline",
                        name: category,
                        data: chartData,
                        zoneAxis: 'x',
                        color: Highcharts.getOptions().colors[3],
                        lineWidth: 4,
                        marker: {
                          enabled: true,
                          lineWidth: 2,
                          lineColor: Highcharts.getOptions().colors[3],
                          fillColor: 'white'
                        }
                    }, false);
               }
               else
               {
                   chart.addSeries({
                       type: "column",
                       name: category,
                       data: chartData,
                       zoneAxis: 'x',
                   }, false);
               }
           });

           chart.setSubtitle({
               text: name + ' - ' + fullData[name].length + ' Data Entries'
           });

           chart.redraw();
           chart.hideLoading();
        }

        function viewChart(timeMode, viewMode, reloadData=true)
        {
           if(chart) {
               chart.destroy();
               $('.highcharts-data-table').remove();
           }

           $("#siteSelector").html('');
           $('#warning-message').html('');

           chartCustomConfig = {timeFormat: '%d %b %Y', xAxisTitle: 'Time', viewType: viewMode};
           switch (timeMode) {
               case 'hourly_holiday':
                   chartCustomConfig.timeFormat = '%l%P %A %Y';
                   $('#warning-message').html('Hourly data only includes Tessitura data from 9am-5pm. (Exclude tickets sold on WEB and BOX)');
                   break;
               case 'daily':
                   chartCustomConfig.timeFormat = '%d %b %Y';
                   $('#warning-message').html('Daily data only includes Tessitura and Artifax data, visits reported by site managers are not included.');
                   break;
               case 'weekly':
                   chartCustomConfig.timeFormat = '%d %b %Y';
                   chartCustomConfig.xAxisTitle = 'Time (Start Date of the Week)';
                   $('#warning-message').html('Weekly data only includes Tessitura and Artifax data, visits reported by site managers are not included.');
                   break;
               case 'monthly':
                  chartCustomConfig.timeFormat = '%b %Y';
                  break;
               case 'quarterly':
                  chartCustomConfig.timeFormat = 'Q%q FY%fy';
                  chartCustomConfig.xAxisTitle = 'Time (Fiscal Quarter)';
                  break;
               case 'yearly':
                  chartCustomConfig.timeFormat = 'FY%fy';
                  chartCustomConfig.xAxisTitle = 'Time (Fiscal Year)';
                  break;
           }

           createChart(chartCustomConfig);
           chart.showLoading('<div class="my-auto"><img src="{{ url_for('static', filename='assets/img/Loading_icon.gif') }}"><h3>Loading Data...</h3></div');

           if(!reloadData && Object.keys(rawData).length !== 0)
           {
               addData(rawData);
           }
           else
           {
               dataLoading = true;
               $.getJSON("{{ url_for('chart.attendance', mode="") }}" + timeMode, addData);
           }
        }

        function addData(data) {
           rawData = data;
           fullData = {};

           let first_site = "";

           $.each(data, function (index, val) {
               let site = val.site;
               if(first_site === "")
                   first_site = site;
               if(!fullData[site])
               {
                   sites.push(site);
                   fullData[site] = [];
                   var r = $('<option/>').attr({
                       value: site,
                   }).html(site);
                   $("#siteSelector").append(r);
               }
               fullData[val.site].push(val);
           });

           dataLoading = false;

           viewSite(first_site, 2017);
        }

        viewChart('hourly_holiday', 'column');

        function createChart(config) {
            Highcharts.dateFormats = {
                q: function (timestamp) {
                    let date = new Date(timestamp),
                    quarter = (Math.floor(date.getUTCMonth() / 3) + 1) - 2;
                    if(quarter <= 0)
                        quarter += 4;
                    return quarter;
                },
                fy: function (timestamp) {
                    let date = new Date(timestamp);
                    return date.getUTCFullYear() + 1;
                },
                A: function (timestamp) {
                    let date = new Date(timestamp).getDate();
                    return $('#daySelector option[value=' + date + ']').text();
                }
            };

           chart = Highcharts.chart('chart', {
               chart: {
                   zoomType: 'x',
                   type: config.viewType,
               },

               title: {
                   text: 'MNHS Hourly Attendance Chart'
               },

               subtitle: {
                   text: 'Loading'
               },

               yAxis: {
                   title: {
                       text: 'Count'
                   }
               },
               plotOptions: {
                   series: {
                       marker: {
                           enabled: false
                       }
                   },
               },

               tooltip: {
                   shared:true,
                   crosshairs:true,
                   valueDecimals: 0,
                   xDateFormat: config.timeFormat,
                   formatter: function(tooltip) {
                        return this.points.reduce(function (s, point) {
                            let sampleSizeStr = "";

                            return s + '<br/><span style="color:' + point.series.color + '">\u25CF</span> ' + point.series.name + ': ' +
                                    point.y + sampleSizeStr;
                        }, '<b>' + Highcharts.dateFormat(config.timeFormat, this.x) + ' ' + this.points[0].point.holiday + '</b>');
                   }
               },

               xAxis: {
                   type: 'datetime',
                   title: {
                       text: config.xAxisTitle
                   },
                    dateTimeLabelFormats: {
                        hour: '%l%P'
                    },
               },

               legend: {
                   align: 'center',
                   borderWidth: 0
               },

               series: [],

               exporting: {
                   showTable: true,
                   csv:{
                       dateFormat: config.timeFormat,
                       itemDelimiter: ';'
                   },
               },
           });
        }

        function onSelectorChanged()
        {
            let hday = $('#daySelector').val();
            let year = $('#yearSelector').val();
            let site = $('#siteSelector').val();
            viewSite(site, year, hday);
        }

        $("#siteSelector").change(function(){
            onSelectorChanged();
        });
        $("#daySelector").change(function(){
            onSelectorChanged();
        });
        $("#yearSelector").change(function(){
            onSelectorChanged();
        });
    </script>
</div>
{% endblock %}
{% block script %}

{% endblock %}