{% extends "dashboard/base.html" %}

{% block extra_head_scripts %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/boost.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <link href="{{ url_for('static', filename='highcharts-data-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block subtitle %}Hourly Attendance Dashboard <a href="{{ url_for('dashboard.hourly_heat') }}"><i class="material-icons">hot_tub</i></a>{% endblock %}

{% block main %}
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title text-capitalize">WARNING</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <h4 class="text-danger">
                      Averages shown may be misleading; they were taken over the only <span name="sample_size"></span> <span name="day_of_week"></span>(s) in <span name="year"></span>
                      where there were ticket sales at <span name="site_name"></span>.
                  </h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
              </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 my-auto">
          <label for="siteSelector">Please select a site:</label>
        </div>
        <div class="col-3 my-auto">
          <select class="form-control" id="siteSelector">
          </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2 my-auto">
          <label for="siteSelector">Please select a time frame:</label>
        </div>
        <div class="my-auto">
            <label for="siteSelector">Day Of Week:</label>
        </div>
        <div class="col-2 my-auto">
            <div class="form-group">
                <div class='input-group'>
                  <select class="form-control" id="daySelector">
                      <option value="7">Sunday</option>
                      <option value="1">Monday</option>
                      <option value="2">Tuesday</option>
                      <option value="3">Wednesday</option>
                      <option value="4">Thursday</option>
                      <option value="5">Friday</option>
                      <option value="6">Saturday</option>
                  </select>
                </div>
            </div>
        </div>
        <div class="my-auto">
            <label for="siteSelector">Calendar Year:</label>
        </div>
        <div class="col-2 my-auto">
            <div class="form-group">
                <div class='input-group'>
                  <select class="form-control" id="yearSelector">
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                  </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-danger mt-3">
        <h6 class="col-12 text-center" id="warning-message"></h6>
    </div>
    <div class="p-1">
        <div id="chart" class="col-12" style="height: 550px;"></div>
    </div>
    <script>
        var chart = undefined;
        var sites = [];
        var rawData = {};
        var fullData = {};
        var notTrigger = false;
        var dataLoading = true;
        const SampleSizeThreshold = 10;

        function viewSite(name, viewYear, viewDayOfWeek)
        {
            if (dataLoading)
                return;

           while(chart.series.length > 0)
               chart.series[0].remove(true);

           let maxTime = 0;
           let categoryData = {};
           let sumData = {};
           $.each(fullData[name], function (index, dataEntry) {
               let category = dataEntry.category;
               if(!categoryData[category])
               {
                   categoryData[category] = [];
               }
               let entryDate = new Date(Date.UTC(dataEntry.year, 1, dataEntry.dayofweek, dataEntry.hour));
               let entryDateTime = entryDate.getTime();
               if(!sumData[entryDateTime])
               {
                   sumData[entryDateTime] = dataEntry.count;
               }
               else
               {
                   sumData[entryDateTime] += dataEntry.count;
               }
               if(entryDateTime > maxTime)
                   maxTime = entryDateTime;
               categoryData[category].push({x: entryDateTime, y: parseFloat((dataEntry.count).toFixed(2)), sampleSize: dataEntry.total});
           });

           $.each(categoryData, function (category, dataEntry) {
               dataEntry.sort(function (a, b) {
                   return a.x - b.x
               });
               let chartData = dataEntry.filter(ent => {let d = new Date(); d.setTime(ent.x); return d.getFullYear() == viewYear && d.getDate() == viewDayOfWeek});
               if(category.includes("Overall"))
               {
                    if(chartData && chartData.length > 0 && chartData.filter(ent => {return ent.sampleSize <= SampleSizeThreshold}).length > 0)
                    {
                        $("#myModal").find('span[name="sample_size"]').html(chartData.filter(ent => {return ent.sampleSize <= SampleSizeThreshold})[0].sampleSize / 2);
                        $("#myModal").modal();
                    }
                    chart.addSeries({
                        type: "spline",
                        name: category,
                        data: chartData,
                        zoneAxis: 'x',
                        color: Highcharts.getOptions().colors[3],
                        lineWidth: 4,
                        marker: {
                          enabled: true,
                          lineWidth: 2,
                          lineColor: Highcharts.getOptions().colors[3],
                          fillColor: 'white'
                        }
                    }, false);
               }
               else
               {
                   chart.addSeries({
                       type: "column",
                       name: category,
                       data: chartData,
                       zoneAxis: 'x',
                   }, false);
               }
           });

           chart.setSubtitle({
               text: name + ' - ' + fullData[name].length + ' Data Entries'
           });

           chart.redraw();
           chart.hideLoading();
        }

        function viewChart(timeMode, viewMode, reloadData=true)
        {
           if(chart) {
               chart.destroy();
               $('.highcharts-data-table').remove();
           }

           $("#siteSelector").html('');
           $('#warning-message').html('');

           chartCustomConfig = {timeFormat: '%d %b %Y', xAxisTitle: 'Time', viewType: viewMode};
           switch (timeMode) {
               case 'hourly':
                   chartCustomConfig.timeFormat = '%l%P %A %Y';
                   $('#warning-message').html('Hourly data only includes Tessitura data from 9am-5pm. (Exclude tickets sold on WEB and BOX)');
                   break;
               case 'daily':
                   chartCustomConfig.timeFormat = '%d %b %Y';
                   $('#warning-message').html('Daily data only includes Tessitura and Artifax data, visits reported by site managers are not included.');
                   break;
               case 'weekly':
                   chartCustomConfig.timeFormat = '%d %b %Y';
                   chartCustomConfig.xAxisTitle = 'Time (Start Date of the Week)';
                   $('#warning-message').html('Weekly data only includes Tessitura and Artifax data, visits reported by site managers are not included.');
                   break;
               case 'monthly':
                  chartCustomConfig.timeFormat = '%b %Y';
                  break;
               case 'quarterly':
                  chartCustomConfig.timeFormat = 'Q%q FY%fy';
                  chartCustomConfig.xAxisTitle = 'Time (Fiscal Quarter)';
                  break;
               case 'yearly':
                  chartCustomConfig.timeFormat = 'FY%fy';
                  chartCustomConfig.xAxisTitle = 'Time (Fiscal Year)';
                  break;
           }

           createChart(chartCustomConfig);
           chart.showLoading('<div class="my-auto"><img src="{{ url_for('static', filename='assets/img/Loading_icon.gif') }}"><h3>Loading Data...</h3></div');

           if(!reloadData && Object.keys(rawData).length !== 0)
           {
               addData(rawData);
           }
           else
           {
               dataLoading = true;
               $.getJSON("{{ url_for('chart.attendance', mode="") }}" + timeMode, addData);
           }
        }

        function addData(data) {
           rawData = data;
           fullData = {};

           let first_site = "";

           $.each(data, function (index, val) {
               let site = val.site;
               if(first_site === "")
                   first_site = site;
               if(!fullData[site])
               {
                   sites.push(site);
                   fullData[site] = [];
                   var r = $('<option/>').attr({
                       value: site,
                   }).html(site);
                   $("#siteSelector").append(r);
               }
               fullData[val.site].push(val);
           });

           dataLoading = false;

           viewSite(first_site, 2017, 1);
        }

        viewChart('hourly', 'column');

        function createChart(config) {
            Highcharts.dateFormats = {
                q: function (timestamp) {
                    let date = new Date(timestamp),
                    quarter = (Math.floor(date.getUTCMonth() / 3) + 1) - 2;
                    if(quarter <= 0)
                        quarter += 4;
                    return quarter;
                },
                fy: function (timestamp) {
                    let date = new Date(timestamp);
                    return date.getUTCFullYear() + 1;
                },
                A: function (timestamp) {
                    let date = new Date(timestamp).getDate();
                    return $('#daySelector option[value=' + date + ']').text();
                }
            };

           chart = Highcharts.chart('chart', {
               chart: {
                   zoomType: 'x',
                   type: config.viewType,
               },

               title: {
                   text: 'MNHS Hourly Attendance Chart'
               },

               subtitle: {
                   text: 'Loading'
               },

               yAxis: {
                   title: {
                       text: 'Average Count'
                   }
               },
               plotOptions: {
                   series: {
                       marker: {
                           enabled: false
                       }
                   },
               },

               tooltip: {
                   shared:true,
                   crosshairs:true,
                   valueDecimals: 0,
                   xDateFormat: config.timeFormat,
                   formatter: function(tooltip) {
                        return this.points.reduce(function (s, point) {
                            let sampleSizeStr = "";
                            if(point.series.name.includes('Overall')) {
                                sampleSizeStr = 'Observations: ' + (point.point.sampleSize / 2) + ' Open Days';
                                if (point.point.sampleSize <= SampleSizeThreshold)
                                    sampleSizeStr = '<br/><b style="color: red">' + sampleSizeStr + '</b>'
                                else
                                    sampleSizeStr = '<br/>' + sampleSizeStr;
                            }

                            return s + '<br/><span style="color:' + point.series.color + '">\u25CF</span> ' + point.series.name + ': ' +
                                    point.y + sampleSizeStr;
                        }, '<b>' + Highcharts.dateFormat(config.timeFormat, this.x) + '</b>');
                   }
               },

               xAxis: {
                   type: 'datetime',
                   title: {
                       text: config.xAxisTitle
                   },
                    dateTimeLabelFormats: {
                        hour: '%l%P'
                    },
               },

               legend: {
                   align: 'center',
                   borderWidth: 0
               },

               series: [],

               exporting: {
                   showTable: true,
                   csv:{
                       dateFormat: config.timeFormat,
                       itemDelimiter: ';'
                   },
               },
           });
        }

        function onSelectorChanged()
        {
            let day = $('#daySelector').val();
            let year = $('#yearSelector').val();
            let site = $('#siteSelector').val();
            viewSite(site, year, day);
        }

        $("#siteSelector").change(function(){
            onSelectorChanged();
        });
        $("#daySelector").change(function(){
            onSelectorChanged();
        });
        $("#yearSelector").change(function(){
            onSelectorChanged();
        });
        $('#myModal').on('show.bs.modal', function(e) {
            let day = $("#daySelector option:selected").text();
            let year = $("#yearSelector option:selected").text();
            let site = $("#siteSelector option:selected").text();
            $(e.currentTarget).find('span[name="day_of_week"]').html(day);
            $(e.currentTarget).find('span[name="year"]').html(year);
            $(e.currentTarget).find('span[name="site_name"]').html(site);
        });
    </script>
</div>
{% endblock %}
{% block script %}

{% endblock %}