{% extends "dashboard/base.html" %}

{% block extra_head_scripts %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/boost-canvas.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link href="{{ url_for('static', filename='highcharts-data-table.css') }}" rel="stylesheet" />
{% endblock %}

{% block subtitle %}Hourly Attendance Dashboard (Heat Map){% endblock %}

{% block main %}
    <div class="row">
        <div class="col-2 my-auto">
          <label for="siteSelector">Please select a site:</label>
        </div>
        <div class="col-3 my-auto">
          <select class="form-control" id="siteSelector">
          </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2 my-auto">
          <label for="siteSelector">Please select a time frame:</label>
        </div>
        <div class="my-auto">
            <label for="siteSelector">Calendar Year:</label>
        </div>
        <div class="col-2 my-auto">
            <div class="form-group">
                <div class='input-group'>
                  <select class="form-control" id="yearSelector">
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                      <option value="2019">2019</option>
                  </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-danger mt-3">
        <h6 class="col-12 text-center" id="warning-message"></h6>
    </div>
    <div class="p-1">
        <div id="chart" class="col-12" style="height: 550px;"></div>
    </div>
    <script>
        var chart = undefined;
        var sites = [];
        var rawData = {};
        var fullData = {};
        var notTrigger = false;

        function viewSite(name, viewYear)
        {
           while(chart.series.length > 0)
               chart.series[0].remove(true);

           let maxTime = 0;
           let sumData = {};
           $.each(fullData[name], function (index, dataEntry) {
               let entryDate = new Date(Date.UTC(dataEntry.year, dataEntry.month-1, dataEntry.day, dataEntry.hour));
               let entryDateTime = entryDate.getTime();
               if(!sumData[entryDateTime])
               {
                   sumData[entryDateTime] = dataEntry.count;
               }
               else
               {
                   sumData[entryDateTime] += dataEntry.count;
               }
               if(entryDateTime > maxTime)
                   maxTime = entryDateTime;
           });

           let sumDataPoints = [];
           $.each(sumData, function (entryDateTime, count) {
               sumDataPoints.push([parseInt(entryDateTime),new Date(parseInt(entryDateTime)).getUTCHours(),count]);
           });
           sumDataPoints.sort(function (a, b) {
               return a[0] - b[0]
           });
           sumDataPoints = sumDataPoints.filter(ent => {let d = new Date(); d.setTime(ent[0]); return d.getFullYear() == viewYear});
            let keyArray = sumDataPoints.map(function(item) { return item[2]; });
            keyArray.sort(function (a, b) {
                return a-b;
            });
            let quantile_y = d3.quantile(keyArray, 0.95);

            chart.colorAxis[0].update({
                min: 0,
                max: quantile_y
            });

           chart.addSeries({
                boostThreshold: 100,
                borderWidth: 0,
                nullColor: '#EFEFEF',
                colsize: 24 * 50e5, // one day
                tooltip: {
                  headerFormat: 'Attendance<br/>',
                  pointFormat: '{point.x:%e %b, %Y} {point.y}:00: <b>{point.value}</b>'
                },
               data: sumDataPoints,
           }, false);

           chart.setSubtitle({
               text: name + ' - ' + fullData[name].length + ' Data Entries',
           });

           chart.redraw();
           chart.hideLoading();
        }

        function viewChart(timeMode, viewMode, reloadData=true)
        {
           if(chart) {
               chart.destroy();
               $('.highcharts-data-table').remove();
           }

           $("#siteSelector").html('');
           $('#warning-message').html('');

           chartCustomConfig = {timeFormat: '%d %b %Y', xAxisTitle: 'Time', viewType: viewMode};
           switch (timeMode) {
               case 'hourly_heat':
                   chartCustomConfig.timeFormat = '%d %b %Y';
                   $('#warning-message').html('Hourly data only includes Tessitura data from 9am-5pm.');
                   break;
               case 'hourly':
                   chartCustomConfig.timeFormat = '%l%P %A %Y';
                   $('#warning-message').html('Hourly data only includes Tessitura data from 9am-5pm.');
                   break;
               case 'daily':
                   chartCustomConfig.timeFormat = '%d %b %Y';
                   $('#warning-message').html('Daily data only includes Tessitura and Artifax data, visits reported by site managers are not included.');
                   break;
               case 'weekly':
                   chartCustomConfig.timeFormat = '%d %b %Y';
                   chartCustomConfig.xAxisTitle = 'Time (Start Date of the Week)';
                   $('#warning-message').html('Weekly data only includes Tessitura and Artifax data, visits reported by site managers are not included.');
                   break;
               case 'monthly':
                  chartCustomConfig.timeFormat = '%b %Y';
                  break;
               case 'quarterly':
                  chartCustomConfig.timeFormat = 'Q%q FY%fy';
                  chartCustomConfig.xAxisTitle = 'Time (Fiscal Quarter)';
                  break;
               case 'yearly':
                  chartCustomConfig.timeFormat = 'FY%fy';
                  chartCustomConfig.xAxisTitle = 'Time (Fiscal Year)';
                  break;
           }

           createChart(chartCustomConfig);
           chart.showLoading('<div class="my-auto"><img src="{{ url_for('static', filename='assets/img/Loading_icon.gif') }}"><h3>Loading Data...</h3></div');

           if(!reloadData && Object.keys(rawData).length !== 0)
           {
               addData(rawData);
           }
           else
           {
               $.getJSON("{{ url_for('chart.attendance', mode="") }}" + timeMode, addData);
           }
        }

        function addData(data) {
           rawData = data;
           fullData = {};

           let first_site = "";

           $.each(data, function (index, val) {
               let site = val.site;
               if(first_site === "")
                   first_site = site;
               if(!fullData[site])
               {
                   sites.push(site);
                   fullData[site] = [];
                   var r = $('<option/>').attr({
                       value: site,
                   }).html(site);
                   $("#siteSelector").append(r);
               }
               fullData[val.site].push(val);
           });

           viewSite(first_site, 2017);
        }

        viewChart('hourly_heat', 'column');

        function createChart(config) {
            Highcharts.dateFormats = {
                q: function (timestamp) {
                    let date = new Date(timestamp),
                    quarter = (Math.floor(date.getUTCMonth() / 3) + 1) - 2;
                    if(quarter <= 0)
                        quarter += 4;
                    return quarter;
                },
                fy: function (timestamp) {
                    let date = new Date(timestamp);
                    return date.getUTCFullYear() + 1;
                },
                A: function (timestamp) {
                    let date = new Date(timestamp).getDate();
                    return $('#daySelector option[value=' + date + ']').text();
                }
            };

           chart = Highcharts.chart('chart', {
                chart: {
                    type: 'heatmap',
                    margin: [60, 10, 80, 50],
                    zoomType: 'xy',
                },

                boost: {
                    useGPUTranslations: true
                },

               title: {
                   text: 'MNHS Hourly Attendance Heat Map (Daily Program/Admission Non-Member + Member)'
               },

               subtitle: {
                   text: 'Loading'
               },

               yAxis: {
                   title: {
                       text: 'Hour'
                   },
                    min: 9,
                    max: 17,
                    reversed: true
               },

                colorAxis: {
                    minColor: '#f7f9fe',
                    maxColor: '#c4463a',
                    startOnTick: false,
                    endOnTick: false,
                    min: 0,
                },

               plotOptions: {
                   series: {
                       marker: {
                           enabled: false
                       }
                   },
                    column: {
                        stacking: 'normal'
                    }
               },

               tooltip: {
                   shared:true,
                   crosshairs:true,
                   valueDecimals: 0,
                   xDateFormat: config.timeFormat,
               },

               xAxis: {
                   type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%d %b %Y'
                    }
               },

               legend: {
                   align: 'center',
                   borderWidth: 0
               },

               series: [],

               exporting: {
                   showTable: true,
                   csv:{
                       dateFormat: config.timeFormat,
                       itemDelimiter: ';'
                   },
               },
           });
        }

        function onSelectorChanged()
        {
            let year = $('#yearSelector').val();
            let site = $('#siteSelector').val();
            viewSite(site, year);
        }

        $("#siteSelector").change(function(){
            onSelectorChanged();
        });
        $("#yearSelector").change(function(){
            onSelectorChanged();
        });
    </script>
{% endblock %}